<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="lift">


	<resultMap id="liftResultSet" type="lift">
		<id column="LIFT_NO" property="liftNo"/>
		<result column="LIFT_TYPE" property="liftType"/>
		<result column="LIFT_PRICE" property="liftPrice"/>
		<result column="LIFT_AGE" property="liftAge"/>
	</resultMap>
	
	<resultMap id="liftOrderResultSet" type="liftOrder">
		<id column="LIFT_ORDER_NO" property="liftOrderNo"/>
		<result column="LIFT_COUNT" property="liftCount" />
		<result column="LIFT_TOTAL_PRICE" property="liftTotalPrice"/>
		<result column="LIFT_NO" property="liftNo"/>
		<result column="MEMBER_ID" property="memberId"/>
	</resultMap>
	
	<resultMap id="liftPurchaseResultSet" type="liftPurchase">
		<id column="LIFT_PURCHASE_NO" property="liftPurchaseNo"/>
		<result column="LIFT_PURCHASE_DATE" property="liftPurchaseDate"/>
		<result column="PACK_LIFT_USED" property="packLiftUsed"/>
		<result column="TOTAL_PRICE" property="totalPrice"/>
		<result column="TOTAL_COUNT" property="totalCount"/>
		<result column="TID" property="tid"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="LIFT_LREFUND_STATUS" property="liftLrefundStatus"/>
		<result column="LIFT_LREFUND_DATE" property="liftLrefundDate"/>
	</resultMap>
	
	<!-- 리프트권 구매 전체 수 조회 -->
	<select id="selectListCount" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM LIFT_PURCHASE
		<where>
            <if test="keyword != null and keyword != ''">
                MEMBER_ID LIKE '%' || #{keyword} || '%'
            </if>
            <if test="liftLrefundStatus != null and liftLrefundStatus != ''">
                AND LIFT_LREFUND_STATUS = #{liftLrefundStatus}
            </if>
        </where>
	</select>
	
	<!-- 리프트권 구매 리스트 조회 -->
	<select id="selectLiftList" parameterType="map" resultMap="liftPurchaseResultSet">
        SELECT 
            LIFT_PURCHASE_NO,
            MEMBER_ID,
            TOTAL_PRICE,
            TOTAL_COUNT,
            PACK_LIFT_USED,
            TO_CHAR(LIFT_PURCHASE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS LIFT_PURCHASE_DATE,
            LIFT_LREFUND_STATUS,
            TO_CHAR(LIFT_LREFUND_DATE, 'YYYY-MM-DD HH24:MI:SS') AS LIFT_LREFUND_DATE
        FROM LIFT_PURCHASE
        <where>
            <if test="keyword != null and keyword != ''">
                MEMBER_ID LIKE '%' || #{keyword} || '%'
            </if>
            <if test="liftLrefundStatus != null and liftLrefundStatus != ''">
                AND LIFT_LREFUND_STATUS = #{liftLrefundStatus}
            </if>
        </where>
        ORDER BY LIFT_PURCHASE_NO DESC
    </select>
	
    
    <!-- 리프트권 전체 조회 쿼리문 -->
	<select id="selectLift" resultMap="liftResultSet">
        SELECT * FROM LIFT
    </select>
    
   
	<!-- 리프트권 금액 변경 쿼리문 -->
	<update id="updateLift" parameterType="java.util.List">
	    UPDATE LIFT
	    SET LIFT_PRICE = CASE 
	        <foreach collection="list" item="li" separator=" ">
	            WHEN LIFT_NO = #{li.liftNo} THEN #{li.liftPrice}
	        </foreach>
	    END
	    WHERE LIFT_NO IN 
	    <foreach collection="list" item="li" open="(" close=")" separator=",">
	        #{li.liftNo}
	    </foreach>
	</update>
	
</mapper>