<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="packageMapper">
	
	<resultMap id="packResultSet" type="package">
		<id column="PACKAGE_NO" property="packageNo" />
		<result column="PACKAGE_NAME" property="packageName" />
		<result column="AVAILABLE_START_DATE" property="availableStartDate" />
		<result column="AVAILABLE_END_DATE" property="availableEndDate" />
		<result column="PACKAGE_STATUS" property="packageStatus" />
		<result column="PACK_CHANGE_NAME" property="packChangeName" />
		<result column="PACK_IMG_PATH" property="packImgPath" />
		<result column="PACKAGE_PRICE" property="packagePrice" />
		<result column="PRODUCT_COMPOSIT" property="productComposit" />
		<result column="PACKAGE_SET" property="packageSet" />
	</resultMap>
	
	<!-- 패키지 상품 갯수 조회용 쿼리문 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM PACKAGE_INFO
	</select>

	<!-- 패키지 상품 목록 조회용 쿼리문 -->
	<select id="selectPackageList" resultMap="packResultSet">
		SELECT PACKAGE_NO
			 , PACKAGE_SET
			 , PACKAGE_NAME
			 , AVAILABLE_START_DATE
			 , AVAILABLE_END_DATE
			 , PACKAGE_STATUS
		FROM PACKAGE_INFO
		ORDER BY PACKAGE_NO DESC
	</select>

	<!-- 패키지 상품 등록용 쿼리문 -->
	<insert id="insertPackage" parameterType="package">
		INSERT INTO PACKAGE_INFO(PACKAGE_NO
							   , PACKAGE_NAME
							   , PACKAGE_PRICE
							   , AVAILABLE_START_DATE
							   , AVAILABLE_END_DATE
							   , PRODUCT_COMPOSIT
							   , PACKAGE_SET
							   , PACK_ORIGIN_NAME
							   , PACK_CHANGE_NAME
							   , PACK_IMG_PATH)
		VALUES(SEQ_PACKAGE_NO.NEXTVAL
			 , #{packageName}
			 , #{packagePrice}
			 , #{availableStartDate}
			 , #{availableEndDate}
			 , #{productComposit}
			 , #{packageSet}
			 , #{packOriginName}
			 , #{packChangeName}
			 , #{packImgPath})
	</insert>
	
	<select id="selectPackageDetail" parameterType="_int" resultMap="packResultSet">
		SELECT PACKAGE_NO
              , PACKAGE_NAME
              , PACKAGE_PRICE
              , AVAILABLE_START_DATE
              , AVAILABLE_END_DATE
              , PRODUCT_COMPOSIT
              , PACKAGE_SET
              , PACKAGE_STATUS
              , PACK_IMG_PATH
		FROM PACKAGE_INFO
		WHERE PACKAGE_NO = #{packageNo}
	</select>
	
	<!-- 패키지 상품 수정 -->
	<update id="updatePackage" parameterType="package">
		UPDATE PACKAGE_INFO
		SET PACKAGE_NAME = #{packageName}
	      , PACKAGE_PRICE = #{packagePrice}
	      , AVAILABLE_START_DATE = #{availableStartDate}
	      , AVAILABLE_END_DATE = #{availableEndDate}
	      , PRODUCT_COMPOSIT = #{productComposit}
	      , PACKAGE_SET = #{packageSet}
	      , PACKAGE_STATUS = #{packageStatus}
	      , PACK_ORIGIN_NAME = #{packOriginName}
	      , PACK_CHANGE_NAME = #{packChangeName}
	      , PACK_IMG_PATH = #{packImgPath}
		WHERE PACKAGE_NO = #{packageNo}
		AND PACKAGE_STATUS = 'Y'
	</update>
	
	<!-- 패키지 상푸 삭제 -->
	<update id="deletePackage" parameterType="_int">
		UPDATE PACKAGE_INFO
		SET PACKAGE_STATUS = 'N'
		WHERE PACKAGE_NO = #{packageNo}
		AND PACKAGE_STATUS = 'Y'
	</update>

</mapper>