<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="packageMapper">

	<resultMap id="packResultSet" type="package">
		<id column="PACKAGE_NO" property="packageNo" />
		<result column="PACKAGE_SET" property="packageSet" />
		<result column="PACKAGE_NAME" property="packageName" />
		<result column="AVAILABLE_START_DATE" property="availableStartDate" />
		<result column="AVAILABLE_END_DATE" property="availableEndDate" />
		<result column="PACKAGE_STATUS" property="packageStatus" />
	</resultMap>

	<!-- 패키지 상품 목록 조회용 쿼리문 -->
	<select id="selectPackageList" resultMap="packResultSet">
		SELECT PACKAGE_NO
			 , PACKAGE_SET
			 , PACKAGE_NAME
			 , AVAILABLE_START_DATE
			 , AVAILABLE_END_DATE
			 , PACKAGE_STATUS
		FROM PACKAGE_INFO
	</select>

	<!-- 패키지 상품 등록용 쿼리문 -->
	<insert id="insertPackage" parameterType="package">
		INSERT INTO PACKAGE_INFO(PACKAGE_NO
							   , PACKAGE_NAME
							   , PACKAGE_PRICE
							   , AVAILABLE_START_DATE
							   , AVAILABLE_END_DATE
							   , PRODUCT_COMPOSIT
							   , PACKAGE_SET
							   , PACK_ORIGIN_NAME
							   , PACK_CHANGE_NAME
							   , PACK_IMG_PATH)
		VALUES(SEQ_PACKAGE_NO.NEXTVAL
			 , #{packageName}
			 , #{packagePrice}
			 , #{availableStartDate}
			 , #{availableEndDate}
			 , #{productComposit}
			 , #{packageSet}
			 , #{packOriginName}
			 , #{packChangeName}
			 , #{packImgPath})
	</insert>

</mapper>