<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>슬로프 오픈 관리</title>
    <style>
        thead>tr>th {
            width: 200px;
        }
        .openBtn {
            width: 100%;
            height: 40px;
            background-color: rgb(194, 220, 255);
            border: 0px;
            font-weight: bold;
            cursor: pointer;
        }
        table {
            border-spacing: 0px;
            width: 100%;
        }
        th {
            padding: 0px;
        }
        select {
            display: none; 
            width: 90%;
            font-size: 13px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            padding: 8px 12px;
            border-radius: 5px;
            transition: border-color 0.3s, background-color 0.3s;
        }

        select:focus {
            outline: none;
            border-color: #666666;
            background-color: #f5f5f5;
        }

        form>div {
            width: 99%;
            padding-top:10px;
            text-align: right;
        }
        #submit {
            width: 100px;
            height: 40px;
            background-color: rgb(194, 220, 255);
            border: 1px solid gray;
            border-radius: 5px;
            font-weight: bold;
            font-size: 15px;
            transition: background-color 0.3s ease;
        }
        #submit:hover {
            cursor: pointer;
            background-color: rgb(139, 190, 255);
        }
    </style>
</head>
<body>
    <div id="title">
        <h1>슬로프 오픈 관리</h1>
        <h2>2024-12-09 (Monday)</h2>
    </div>
    <div>
        <form action="" method="post">
            <table border="1px solid black">
                <thead>
                    <tr>
                        <th>SlopeNo</th>
                        <th>Name</th>
                        <th>Level</th>
                        <th>Open</th>
                        <th>Reason</th>
                    </tr>
                    <tr>
                        <th name="slopeNo">1</th>
                        <th>Crystal Path</th>
                        <th>Beginner</th>
                        <th><input type="button" class="openBtn" onclick="toggleOpen(this);" value="OPEN" name="slopeIsOpen"></input></th>
                        <th>
                            <select name="slopeNote">
                                <option value="" disabled>사유선택</option>
                                <option value="눈상태" selected>눈상태</option>
                                <option value="점검">점검</option>
                                <option value="날씨">날씨</option>
                                <option value="대회">대회</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th name="slopeNo">2</th>
                        <th>Snowflake Glide</th>
                        <th>Beginner</th>
                        <th><input type="button" class="openBtn" onclick="toggleOpen(this);" value="OPEN" name="slopeIsOpen"></input></th>
                        <th>
                            <select name="slopeNote">
                                <option value="" disabled>사유선택</option>
                                <option value="눈상태" selected>눈상태</option>
                                <option value="점검">점검</option>
                                <option value="날씨">날씨</option>
                                <option value="대회">대회</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th name="slopeNo">3</th>
                        <th>Bluebird Trail</th>
                        <th>Beginner</th>
                        <th><input type="button" class="openBtn" onclick="toggleOpen(this);" value="OPEN" name="slopeIsOpen"></input></th>
                        <th>
                            <select name="slopeNote">
                                <option value="" disabled>사유선택</option>
                                <option value="눈상태" selected>눈상태</option>
                                <option value="점검">점검</option>
                                <option value="날씨">날씨</option>
                                <option value="대회">대회</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th name="slopeNo">4</th>
                        <th>Frostbite Run</th>
                        <th>Intermediate</th>
                        <th><input type="button" class="openBtn" onclick="toggleOpen(this);" value="OPEN" name="slopeIsOpen"></input></th>
                        <th>
                            <select name="slopeNote">
                                <option value="" disabled>사유선택</option>
                                <option value="눈상태" selected>눈상태</option>
                                <option value="점검">점검</option>
                                <option value="날씨">날씨</option>
                                <option value="대회">대회</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th name="slopeNo">5</th>
                        <th>Glacier Alley</th>
                        <th>Intermediate</th>
                        <th><input type="button" class="openBtn" onclick="toggleOpen(this);" value="OPEN" name="slopeIsOpen"></input></th>
                        <th>
                            <select name="slopeNote">
                                <option value="" disabled>사유선택</option>
                                <option value="눈상태" selected>눈상태</option>
                                <option value="점검">점검</option>
                                <option value="날씨">날씨</option>
                                <option value="대회">대회</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th name="slopeNo">6</th>
                        <th>Summit Slide</th>
                        <th>Intermediate</th>
                        <th><input type="button" class="openBtn" onclick="toggleOpen(this);" value="OPEN" name="slopeIsOpen"></input></th>
                        <th>
                            <select name="slopeNote">
                                <option value="" disabled>사유선택</option>
                                <option value="눈상태" selected>눈상태</option>
                                <option value="점검">점검</option>
                                <option value="날씨">날씨</option>
                                <option value="대회">대회</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th name="slopeNo">7</th>
                        <th>Icicle Pass</th>
                        <th>Intermediate</th>
                        <th><input type="button" class="openBtn" onclick="toggleOpen(this);" value="OPEN" name="slopeIsOpen"></input></th>
                        <th>
                            <select name="slopeNote">
                                <option value="" disabled>사유선택</option>
                                <option value="눈상태" selected>눈상태</option>
                                <option value="점검">점검</option>
                                <option value="날씨">날씨</option>
                                <option value="대회">대회</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th name="slopeNo">8</th>
                        <th>Avalanche Chute</th>
                        <th>Advanced</th>
                        <th><input type="button" class="openBtn" onclick="toggleOpen(this);" value="OPEN" name="slopeIsOpen"></input></th>
                        <th>
                            <select name="slopeNote">
                                <option value="" disabled>사유선택</option>
                                <option value="눈상태" selected>눈상태</option>
                                <option value="점검">점검</option>
                                <option value="날씨">날씨</option>
                                <option value="대회">대회</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th name="slopeNo">9</th>
                        <th>Blizzard Peak</th>
                        <th>Advanced</th>
                        <th><input type="button" class="openBtn" onclick="toggleOpen(this);" value="OPEN" name="slopeIsOpen"></input></th>
                        <th>
                            <select name="slopeNote">
                                <option value="" disabled>사유선택</option>
                                <option value="눈상태" selected>눈상태</option>
                                <option value="점검">점검</option>
                                <option value="날씨">날씨</option>
                                <option value="대회">대회</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th name="slopeNo">10</th>
                        <th>Thunder Ridge</th>
                        <th>Advanced</th>
                        <th><input type="button" class="openBtn" onclick="toggleOpen(this);" value="OPEN" name="slopeIsOpen"></input></th>
                        <th>
                            <select name="slopeNote">
                                <option value="" disabled>사유선택</option>
                                <option value="눈상태" selected>눈상태</option>
                                <option value="점검">점검</option>
                                <option value="날씨">날씨</option>
                                <option value="대회">대회</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th name="slopeNo">11</th>
                        <th>Fury Descent</th>
                        <th>Expert</th>
                        <th><input type="button" class="openBtn" onclick="toggleOpen(this);" value="OPEN" name="slopeIsOpen"></input></th>
                        <th>
                            <select name="slopeNote">
                                <option value="" disabled>사유선택</option>
                                <option value="눈상태" selected>눈상태</option>
                                <option value="점검">점검</option>
                                <option value="날씨">날씨</option>
                                <option value="대회">대회</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th name="slopeNo" >12</th>
                        <th>Dragon's Spine</th>
                        <th>Expert</th>
                        <th><input type="button" class="openBtn" onclick="toggleOpen(this);" value="OPEN" name="slopeIsOpen"></input></th>
                        <th>
                            <select name="slopeNote">
                                <option value="" disabled>사유선택</option>
                                <option value="눈상태" selected>눈상태</option>
                                <option value="점검">점검</option>
                                <option value="날씨">날씨</option>
                                <option value="대회">대회</option>
                            </select>
                        </th>
                    </tr>
                </thead>
            </table>
            <div>
                <input type="submit" id="submit" value="적용하기">
            </div>
        </form>
    </div>

    <script>
        function toggleOpen(btn) {
            const row = btn.closest('tr'); // 현재 버튼이 속한 행
            const selectTag = row.querySelector('select');
            
            // 버튼의 value를 토글
            if (btn.value === "OPEN") {
                btn.value = "CLOSE";
                btn.style.backgroundColor = "rgb(255, 194, 194)";
                selectTag.style.display = "inline"; 
                selectTag.click();
            } else {
                btn.value = "OPEN";
                btn.style.backgroundColor = "rgb(194, 220, 255)";
                selectTag.style.display = "none"; 
            }
        }
    </script>
</body>
</html>



<!-- 
1	Crystal Path	Beginner
2	Snowflake Glide	Beginner
3	Bluebird Trail	Beginner
4	Frostbite Run	Intermediate
5	Glacier Alley	Intermediate
6	Summit Slide	Intermediate
7	Icicle Pass	Intermediate
8	Avalanche Chute	Advanced
9	Blizzard Peak	Advanced
10	Thunder Ridge	Advanced
11	Fury Descent	Expert
12	Dragon's Spine	Expert
-->