<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>슬로프 오픈 현황</title>
    <style>
        thead>tr>th {
            width: 200px;
        }
        table {
            border-spacing: 0px;
            width: 100%;
        }
        th {
            width: 200px;
            padding: 0px;
            height: 50px;
        }
        .isOpen {
            height: 100%;
            background-color: rgb(194, 220, 255);
            font-weight: bold;
        }
        form>div {
            width: 99%;
            padding-top:10px;
            text-align: right;
        }
        th:nth-child(1) {
            display: none;
        }
    </style>
</head>
<body>
    <div id="title">
        <h1>슬로프 오픈 현황</h1>
        <h2>2024-12-09 (Monday)</h2>
    </div>
    <div>
        <table border="1px solid black">
            <thead>
                <tr>
                    <th>SlopeNo</th>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Open</th>
                    <th>Reason</th>
                </tr>
                <tr>
                    <th name="slopeNo">1</th>
                    <th>Crystal Path</th>
                    <th>Beginner</th>
                    <th name="slopeIsOpen" class="isOpen">OPEN</th>
                    <th name="slopeNote">사유</th>
                </tr>
                <tr>
                    <th name="slopeNo">2</th>
                    <th>Snowflake Glide</th>
                    <th>Beginner</th>
                    <th name="slopeIsOpen" class="isOpen">OPEN</th>
                    <th name="slopeNote">사유</th>
                </tr>
                <tr>
                    <th name="slopeNo">3</th>
                    <th>Bluebird Trail</th>
                    <th>Beginner</th>
                    <th name="slopeIsOpen" class="isOpen">OPEN</th>
                    <th name="slopeNote">사유</th>
                </tr>
                <tr>
                    <th name="slopeNo">4</th>
                    <th>Frostbite Run</th>
                    <th>Intermediate</th>
                    <th name="slopeIsOpen" class="isOpen">OPEN</th>
                    <th name="slopeNote">사유</th>
                </tr>
                <tr>
                    <th name="slopeNo">5</th>
                    <th>Glacier Alley</th>
                    <th>Intermediate</th>
                    <th name="slopeIsOpen" class="isOpen">OPEN</th>
                    <th name="slopeNote">사유</th>
                </tr>
                <tr>
                    <th name="slopeNo">6</th>
                    <th>Summit Slide</th>
                    <th>Intermediate</th>
                    <th name="slopeIsOpen" class="isOpen">OPEN</th>
                    <th name="slopeNote">사유</th>
                </tr>
                <tr>
                    <th name="slopeNo">7</th>
                    <th>Icicle Pass</th>
                    <th>Intermediate</th>
                    <th name="slopeIsOpen" class="isOpen">OPEN</th>
                    <th name="slopeNote">사유</th>
                </tr>
                <tr>
                    <th name="slopeNo">8</th>
                    <th>Avalanche Chute</th>
                    <th>Advanced</th>
                    <th name="slopeIsOpen" class="isOpen">OPEN</th>
                    <th name="slopeNote">사유</th>
                </tr>
                <tr>
                    <th name="slopeNo">9</th>
                    <th>Blizzard Peak</th>
                    <th>Advanced</th>
                    <th name="slopeIsOpen" class="isOpen">OPEN</th>
                    <th name="slopeNote">사유</th>
                </tr>
                <tr>
                    <th name="slopeNo">10</th>
                    <th>Thunder Ridge</th>
                    <th>Advanced</th>
                    <th name="slopeIsOpen" class="isOpen">OPEN</th>
                    <th name="slopeNote">사유</th>
                </tr>
                <tr>
                    <th name="slopeNo">11</th>
                    <th>Fury Descent</th>
                    <th>Expert</th>
                    <th name="slopeIsOpen" class="isOpen">OPEN</th>
                    <th name="slopeNote">사유</th>
                </tr>
                <tr>
                    <th name="slopeNo">12</th>
                    <th>Dragon's Spine</th>
                    <th>Expert</th>
                    <th name="slopeIsOpen" class="isOpen">OPEN</th>
                    <th name="slopeNote">사유</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>



<!-- 
1	Crystal Path	Beginner
2	Snowflake Glide	Beginner
3	Bluebird Trail	Beginner
4	Frostbite Run	Intermediate
5	Glacier Alley	Intermediate
6	Summit Slide	Intermediate
7	Icicle Pass	Intermediate
8	Avalanche Chute	Advanced
9	Blizzard Peak	Advanced
10	Thunder Ridge	Advanced
11	Fury Descent	Expert
12	Dragon's Spine	Expert
-->