<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 
		* 스프링에서 마이바티스 연동 시
		  기존의 설정 파일에 비해 작성할 내용이 간략해진다.
		  settings, typeAliases, mappers 영역만 작성!!
		- environments 영역은 DB 접속 정보 관련 영역이였는데,
		  주도권이 스프링에게 있기 때문에 이미 root-context.xml 에서 작성하고 넘어옴
		  (mybatis-config.xml 에서 작성하지 않음)
	-->
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.admin.member.model.vo.Member" alias="member" />
		<typeAlias type="com.kh.admin.lift.model.vo.Lift" alias="lift" />
		<typeAlias type="com.kh.admin.lift.model.vo.LiftOrder" alias="liftOrder" />
		<typeAlias type="com.kh.admin.lift.model.vo.LiftPurchase" alias="liftPurchase" />
		<typeAlias type="com.kh.admin.lesson.model.vo.Lesson" alias="lesson" />
		<typeAlias type="com.kh.admin.room.model.vo.Room" alias="room" />
		<typeAlias type="com.kh.admin.room.model.vo.RoomPay" alias="roompay" />
		<typeAlias type="com.kh.admin.room.model.vo.RoomImg" alias="roomImg"/>
		<typeAlias type="com.kh.admin.notice.model.vo.Notice" alias="notice" />
		<typeAlias type="com.kh.admin.locker.model.vo.Locker" alias="locker" />
		<typeAlias type="com.kh.admin.lostitem.model.vo.LostItem" alias="lostItem" />
		<typeAlias type="com.kh.admin.common.model.vo.PageInfo" alias="PageInfo" />
		<typeAlias type="com.kh.admin.pack.model.vo.Pack" alias="package" />
		<typeAlias type="com.kh.admin.pack.model.vo.PackagePay" alias="packagepay" />
		<typeAlias type="com.kh.admin.management.model.vo.SkiResortOpen" alias="skiResortOpen" />
		<typeAlias type="com.kh.admin.management.model.vo.SlopeOpen" alias="slopeOpen" />
	</typeAliases>
	
	<mappers>
		<!-- 
			아무리 mapper 파일이 있더라도 
			namespace 를 등록하지 않은 상태라면 오류가 난다!! 
		-->
		<mapper resource="/mappers/lesson-mapper.xml" />
		<mapper resource="/mappers/lift-mapper.xml" />
		<mapper resource="/mappers/locker-mapper.xml" />
		<mapper resource="/mappers/lostitem-mapper.xml" />
		<mapper resource="/mappers/management-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/mypage-mapper.xml" />
		<mapper resource="/mappers/notice-mapper.xml" />
		<mapper resource="/mappers/package-mapper.xml" />
		<mapper resource="/mappers/room-mapper.xml" />
	</mappers>

</configuration>