<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="lesson">

	<resultMap id="lessonResultSet" type="lesson">
		<id column="RES_NO" property="resNo" />
		<result column="LESSON_DATE" property="lessonDate" />
		<result column="LESSON_TIME" property="lessonTime" />
		<result column="LESSON_TYPE" property="lessonType" />
		<result column="RES_STATUS" property="resStatus" />
		<result column="LESSON_TITLE" property="lessonTitle" />
		<result column="LESSON_RES_COUNT" property="lessonResCount" />
		<result column="LESSON_RES_DATE" property="lessonResDate" />
		<result column="LESSON_PHONE" property="lessonPhone" />
		<result column="LR_REFUND_STATUS" property="lrRefundStatus" />
		<result column="LR_REFUND_DATE" property="lrRefundDate" />
		<result column="LESSON_ACTIVITE" property="lessonActivite" />
		<result column="LESSON_RES_CONTENT" property="lessonResContent" />
		<result column="LESSON_STATUS" property="lessonStatus" />
	    <result column="MEMBER_NO" property="memberNo" /> 
	</resultMap>
	
<select id="selectListCount" parameterType="string" resultType="_int">
    SELECT COUNT(*)
      FROM LESSON_RESERVATION
       <if test="keyword != null and keyword != ''">
           WHERE LESSON_TITLE LIKE '%' || #{keyword} || '%'
       </if>
</select>

<select id="selectList" resultMap="lessonResultSet">
    SELECT RES_NO,
           LESSON_DATE,
           LESSON_TIME,
           LESSON_TYPE,
           RES_STATUS,
           LESSON_STATUS,
           LESSON_TITLE,
           LESSON_RES_DATE,
           LESSON_PHONE,
           MEMBER_NO
      FROM LESSON_RESERVATION
      WHERE LESSON_STATUS = 'Y' <!-- 삭제된 게시글 제외 -->
      <if test="keyword != null and keyword != ''">
          AND LESSON_TITLE LIKE '%' || #{keyword} || '%'
      </if>
      ORDER BY RES_NO DESC
</select>


	
	<insert id="insertLesson" parameterType="lesson">
	    INSERT INTO LESSON_RESERVATION(
	        RES_NO,
	        LESSON_TYPE,
	        LESSON_PHONE,
	        LESSON_ACTIVITE,
	        LESSON_TIME,
	        LESSON_DATE,               
	        LESSON_RES_DATE,
	        LESSON_RES_COUNT,
	        LESSON_RES_CONTENT,
	        LESSON_TITLE,
	        MEMBER_NO
	    )
	    VALUES (
	        SEQ_RES_NO.NEXTVAL,
	        #{lessonType},
	        #{lessonPhone},
	        #{lessonActivite},
	        #{lessonTime},
	        #{lessonDate},
	        SYSDATE,                
	        #{lessonResCount},
	        #{lessonResContent},
	        #{lessonTitle},
	        #{memberNo}
	    )
	</insert>
<select id="selectLesson" parameterType="int" resultMap="lessonResultSet">
    SELECT RES_NO,
           LESSON_DATE,
           LESSON_TIME,
           LESSON_TYPE,
           LESSON_RES_COUNT,
           LESSON_PHONE,
           LESSON_ACTIVITE,
           LESSON_RES_CONTENT,
           LESSON_TITLE,
           MEMBER_NO,
           RES_STATUS  <!-- 예약 상태 컬럼 추가 -->
      FROM LESSON_RESERVATION
     WHERE RES_NO = #{resNo}
</select>



		<update id="updateLesson" parameterType="lesson">
		    UPDATE LESSON_RESERVATION
		       SET LESSON_DATE = #{lessonDate}
		         , LESSON_TIME = #{lessonTime}
		         , LESSON_TYPE = #{lessonType}
		         , LESSON_RES_COUNT = #{lessonResCount}
		         , LESSON_PHONE = #{lessonPhone}
		         , LESSON_ACTIVITE = #{lessonActivite}
		         , LESSON_RES_CONTENT = #{lessonResContent}
		     WHERE RES_NO = #{resNo} AND MEMBER_NO = #{memberNo}
		</update>

	<update id="deleteLesson" parameterType="_int">
		UPDATE LESSON_RESERVATION
		   SET LESSON_STATUS = 'N'
		 WHERE RES_NO = #{resNo}
	</update>




</mapper>