<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="lift">

	<resultMap id="liftResultSet" type="lift">
		<id column="LIFT_NO" property="liftNo"/>
		<result column="LIFT_TYPE" property="liftType"/>
		<result column="LIFT_PRICE" property="liftPrice"/>
		<result column="LIFT_AGE" property="liftAge"/>
	</resultMap>
	
	<resultMap id="liftOrderResultSet" type="liftOrder">
		<id column="LIFT_ORDER_NO" property="liftOrderNo"/>
		<result column="LIFT_COUNT" property="liftCount" />
		<result column="LIFT_TOTAL_PRICE" property="liftTotalPrice"/>
		<result column="LIFT_NO" property="liftNo"/>
		<result column="MEMBER_ID" property="memberId"/>
	</resultMap>
	
	<resultMap id="liftPayResultSet" type="liftPay">
		<id column="LIFT_PURCHASE_NO" property="liftPurchaseNo"/>
		<result column="LIFT_PRUCHASE_DATE" property="liftPurchaseDate"/>
		<result column="LIFT_PURCHASE_STATUS" property="liftPurchaseStatus"/>
		<result column="PACK_LIFT_USED" property="packLiftUsed"/>
		<result column="LIFT_PAY_TOKEN" property="liftPayToken"/>
		<result column="LIFT_PAY_CODE" property="liftPayCode"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="LIFT_LREFUND_STATUS" property="liftLrefundStatus"/>
	</resultMap>		
		<select id="selectDayPass" resultMap="liftResultSet">
		    SELECT *
		    FROM LIFT
		    WHERE LIFT_TYPE != '시즌권'
		</select>

	
	<select id="selectSeasonPass" resultMap="liftResultSet">
		SELECT *
		FROM LIFT
		WHERE LIFT_TYPE = '시즌권'
	</select>
	
	
	<insert id="liftOrder" parameterType="liftOrder">
	    INSERT INTO LIFT_ORDER (LIFT_ORDER_NO, LIFT_COUNT, LIFT_TOTAL_PRICE, LIFT_NO, MEMBER_ID)
	    VALUES( SEQ_LIFT_ORDER_NO.NEXTVAL, 
	            #{liftCount}, 
	            #{liftTotalPrice}, 
	            #{liftNo}, 
	            #{memberId})
	</insert>
	
	<!-- 리프트 일일권 구매  -->
	<insert id="insertLiftPay" parameterType="liftpay">
		INSERT INTO LIFT_PURCHASE (LIFT_PURCHASE_NO
								 , LIFT_PURCHASE_DATE
								 , TOTAL_PRICE
								 , TOTAL_COUNT
								 , TID
								 , MEMBER_ID)
		VALUES (SEQ_LIFT_PURCHASE_NO.NEXTVAL
			  , SYSDATE
			  , #{totalPrice}
			  , #{totalCount}
			  , #{tid}
			  , #{memberId})
	</insert>
	
	
	
	
	
	
	
	
	
	
<!-- 김동준 마이페이지  -->
    <select id="selectReservedLiftList" parameterType="string" resultMap="liftOrderResultSet">
        SELECT
            LO.LIFT_ORDER_NO AS LIFT_ORDER_NO,
            LO.LIFT_COUNT AS LIFT_COUNT,
            LO.LIFT_TOTAL_PRICE AS LIFT_TOTAL_PRICE,
            LO.LIFT_NO AS LIFT_NO,
            LO.MEMBER_ID AS MEMBER_ID
        FROM LIFT_ORDER LO
        WHERE LO.MEMBER_ID = #{memberId}
    </select>
    <!-- 김동준 마이페이지  -->
    <select id="selectLiftOrderByNo" parameterType="int" resultMap="liftOrderResultSet">
    SELECT 
        LIFT_ORDER_NO,
        LIFT_NO,
        LIFT_COUNT,
        LIFT_TOTAL_PRICE
    FROM LIFT_ORDER
    WHERE LIFT_ORDER_NO = #{liftOrderNo}
</select>
<!-- 김동준 마이페이지  -->
    <select id="countReservedLifts" parameterType="string" resultType="int">
    SELECT COUNT(*)
    FROM LIFT_ORDER
    WHERE MEMBER_ID = #{memberId}
</select>
    
</mapper>