<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="roomMapper">

	<resultMap id="roomResultSet" type="room">
		<id column="ROOM_NO" property="roomNo" />
		<result column="ROOM_NAME" property="roomName" />
		<result column="ROOM_DESC" property="roomDesc" />
		<result column="ROOM_TYPE" property="roomType" />
		<result column="CAPACITY" property="capacity" />
		<result column="STATUS" property="status" />
		<result column="ROOM_PRICE" property="roomPrice" />
	</resultMap>
	
	<resultMap id="memberResultSet" type="member">
		<id column="MEMBER_NO" property="memberNo" />
		<result column="MEMBER_NAME" property="memberName" />
		<result column="EMAIL" property="email" />
	</resultMap>

	<select id="selectList" resultMap="roomResultSet">
		SELECT * FROM ROOM
	</select>

	
	
	<!-- 사용자가 선택한 체크인/체크아웃 날짜에 예약 가능한 객실 조회 -->
	<select id="selectAvailableRoom" parameterType="roompay" resultMap="roomResultSet">
		SELECT R.ROOM_NO, R.ROOM_NAME, R.ROOM_TYPE, R.ROOM_PRICE, R.CAPACITY, R.STATUS
		FROM ROOM R
		WHERE R.ROOM_TYPE = #{roomType} 
		AND NOT EXISTS (
		    SELECT 1
		    FROM ROOM_RESERV RP
		    WHERE RP.ROOM_NO = R.ROOM_NO
		      AND RP.PAY_STATUS = 'Y' 
		      AND (
		          TO_DATE(#{checkInDate}, 'YYYY-MM-DD') &lt; RP.CHECK_OUT_DATE
		          AND TO_DATE(#{checkOutDate}, 'YYYY-MM-DD') &gt; RP.CHECK_IN_DATE
		      )
		)
		ORDER BY R.ROOM_NO ASC
	</select>


		
	<!-- 사용자가 선택한 객실의 수용인원 조회 -->
	<select id="selectRoomDetails" parameterType="_int" resultMap="roomResultSet">
		SELECT ROOM_NO, ROOM_NAME, CAPACITY, ROOM_PRICE, ROOM_TYPE
		FROM ROOM
		WHERE ROOM_NO = #{roomNo}
	</select>
	
	<!-- 예약단계에서 보여질 회원 정보 조회 -->
	<select id="selectMember" parameterType="int" resultMap="memberResultSet" >
		SELECT MEMBER_NO, MEMBER_NAME, EMAIL, PHONE
		FROM MEMBER
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 결제 완료 시 객실 상태 변경 -->
	<update id="updateRoomStatus" parameterType="_int">
		UPDATE ROOM
		SET STATUS = 'N'
		WHERE ROOM_NO = #{roomNo}
		AND STATUS = 'Y'
	</update>
	
	<!-- 결제 정보 테이블에 데이터 담기 -->
	<insert id="insertPayInfo" parameterType="roompay">
		INSERT INTO ROOM_RESERV (ROOM_RESERV_NO
                               , AMOUNT
                               , CHECK_IN_DATE
                               , CHECK_OUT_DATE
                               , RESERV_DATE
                               , TID
                               , MEMBER_NO
                               , ROOM_NO)
		VALUES (SEQ_ROOM_RESERV_NO.NEXTVAL
			  , #{totalPrice}
			  , #{checkInDate}
			  , #{checkOutDate}
			  , SYSDATE
			  , #{tid}
			  , #{memberNo}
			  , #{roomNo})
	</insert>
	

	
	
	
</mapper>